body {
    font-family: 'Montserrat', sans-serif;
  }
  
  html,
  body {
    height: 100%;
    background-color: #fbf1c7;
    color: #282828;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }