body {
    background-color: #fbf1c7;
    color: #282828;
    font-family: monospace;
    margin: 1rem auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}