body, html {
    background-color: #fbf1c7;
    color: #282828;
    font-family: monospace;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}