<div class="landingpage">
    <div class="tologin-container">
        <button id="start-button" (click)="takeToLogin()">Start uploading files</button>
    </div>
    <div class="infocontainer">
        <div class="infotext">
            <h2 id="infotitle">What is Filemanager?</h2>
            <p>
                Storing and managing files has never been easier with <strong>Filemanager</strong>. <br>
                Store all your files to Azure cloud using Filemanager and say goodbye <br>
                to files taking all your hard drive space!
            </p>
        </div>
        <div class ="landingcard">
            <img
            src="/assets/card.svg"
            alt=""
            />
        </div>
    </div>
    
    
</div>

