<div class="landingpage">
    <div class="tologin-container">
    </div>
    <div class="infocontainer">
        <div class="infotext">
            <h2 id="infotitle">What is Filemanager?</h2>
            <p>
                Storing and managing files has never been easier with <strong>Filemanager</strong>.
                Store all your files to Azure cloud using Filemanager and say goodbye
                to files taking all your hard drive space!
            </p>
        </div>
        <div class ="landingcard">
            <img
            src="/assets/card.svg"
            alt=""
            />
        </div>
    </div>
    
    
</div>

