<div class="file-info">
	<!-- Display upload status -->
	<section [ngSwitch]="uploadStatus">
		<p *ngSwitchCase="'inProgress'">⏳ Uploading, please wait...</p>
		<p *ngSwitchCase="'completed'">✅ File uploaded successfully!</p>
		<p *ngSwitchCase="'error'">❌ An error occurred during upload.</p>
		<p *ngSwitchDefault>🔄 Ready to upload your file.</p>
	  </section>
	</div>
	<div class="file-div">
		<form #uploadForm ="ngForm" (ngSubmit)="onUploadSubmit(uploadForm)">  
		<input type="file" class="upload-input" (change)="handleFileSelection($event)" #fileInput />
		<!-- Upload button -->
		<button type="submit" id="upload-button">Upload</button>
		<!-- <button type="submit" id="upload-button" (click)="uploadFile()">Upload</button> -->
		</form>	
	</div>
	<div *ngIf="selectedFile">
	<!-- Display file details -->
	<section class="file-details">
	  <h3>File Details:</h3>
	  <ul>
		<li><strong>Filename:</strong> {{selectedFile.name}}</li>
		<li><strong>File Type:</strong> {{selectedFile.type}}</li>
		<li><strong>File Size:</strong> {{selectedFile.size}} bytes</li>
	  </ul>
	</section>
	<div class="container-list-text">
		<h3>
			Files in this container
		</h3>
	 </div>
</div>
<div id="blob-div">
	<ul id="bloblist">
		<li *ngFor="let blob of blobs$ | async">{{blob}}</li>
	</ul>
</div>