.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0px 5px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

 button.hover {
    background-color: #3700b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

select {
    width: 40%;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem 0px;
}

#cont-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 2.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.75rem;
}

#dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}