<html xmlns:th="https://www.thymeleaf.org">
<link th:href = "@{/css/container.css}" rel="stylesheet">
<header></header>
<body>
	<div class="form-container">
		<div id="error-text" th:if="${message}">
			<h2 th:text="${message}">
		</div>
		<h2 id = "welcome">Manage an existing container</h2>
		<form id ="container-selector" method="POST" enctype="text/plain" th:action="@{/selectContainer}">
			<div>
				<select id = "dropdown" name="container-name">
					<option th:each="cont:${containers}" th:text="${cont}" th:value="${cont}"></option>
				</select>
				<br><br>
				<button type="submit" id="select-button" name="select-button">
					Select container
				</button>
				<button type="submit" id="delete-button" name="delete-button">
					Delete container
				</button>
			</div>
		</form>	
		<h2 id="create-message">Or create a new one</h2>
		<form id ="container-creator" method="POST" enctype="text/plain" th:action="@{/createContainer}">
			<div>
				<input type="text" id="cont-name" name="container-name"><br>
				<button type="submit" id="create-button" name="create-button">
					Create container
				</button>
			</div>
		</form>
	</div>
</body>
<footer></footer>
</html>