<html xmlns:th="https://www.thymeleaf.org">
	<link th:href = "@{/css/login.css}" rel="stylesheet">
<body>
	<div class ="login-container">
		<div id="error-text" th:if="${message}">
			<h2 th:text="${message}">
		</div>
		<h2>Type the connection string</h2>
		<form id ="login-form" method="POST" enctype="text/plain" th:action="@{/loginContainer}">
			<div>
				<input type="text" id="cont-name" name="container-name"><br>
				<button type="submit" id="connect-to-container" name="connect-button">
					Connect to storage account
				</button>
			</div>
		</form>
	</div>
</body>
</html>
