<ng-container *ngTemplateOutlet="navbar; context: { isLoggedIn : isLoggedIn }"/>
    <ng-template #navbar let-user="isLoggedIn">
        <div class = "nav-contaner">
            <nav class ="page-nav">
                <div class ="nav-button">
                    @if (user) {

                        <button>CONTAINERS</button>
                        <button (click)="logout()">LOGOUT</button>
                    } @else {
                        <button (click)="login()">LOGIN</button>
                    }
                </div>
                <!--<a id="logout-button" routerLink="/" (click)="logout()">LOGOUT</a>-->
            </nav>
        </div>
    </ng-template>