.upload-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 10px 25px;
  border-radius: 5px;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 0.9rem;
  list-style: none;
}

input::file-selector-button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  margin: 0px 10px;
  padding: 10px 25px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

input::file-selector-button:hover {
  background-color: #3700b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#upload-button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  margin: 0px 10px;
  padding: 10px 25px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

  #upload-button:hover {
  background-color: #3700b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.file-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blob-div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-details {
  display:flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.file-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1.5rem;
}